<!DOCTYPE html>
<html>
    <head>
        {% if title  %}
            <title>SOFTCRAZE - {{ title }}</title>
        {% else %}
            <title> SOFTCRAZE</title>
        {% endif %}
    </head>
    <body>
        <h1>SOFTCRAZE</h1>
        <!--create the body of the form-->
        {% for message in get_flasked_message() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% if not current_user.is_authenticated() %}
            <a href="{{ url_for('users.login') }}"> login </a>
        {% else %}
            <a href="{{ url_for('users.logout') }}"> logout </a>
        {% endif %}

        <div class="content">
            {% with messages = get_flasked_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>